<!DOCTYPE html>
<html>
<head>
    <title>Organization Home Page</title>
        <link rel="stylesheet" href="Org_Homepage_Style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="https://kit.fontawesome.com/e33a9afea3.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
          <style>
            table, th, td {
              border: 2px solid black;
            }
            </style>
          
        
</head>
<body>
  <div class="logoBack">
    <div> <img id="logo" src="../material/images/LOGO.png" alt="JoBBooth"> </div>
    <div class="navBar">
        <a href="#contact">CONTACT</a>
        <a href="#news">ABOUT</a>
        <a href="../views/home.php">HOME</a>
    </div>
</div>
  
  <br> 
  <br><br>

  <div class="organization">
    <div class="orgDescrip">
        
      <input type="text" id="orgDescrip" name="orgDescrip" style="height:120px; width: 1000px; text-align: center; font-size: 180%; font-family: 'Times New Roman'; font-weight: bold; background-color:#e8eeef;" placeholder="Descreption" autocomplete="off">
      </div>

        <div class="organizationPhoto">
          <input type="image" id="ProfilePhoto" name="ProfilePhoto" src="../material/Profile_Pic.jpg" style="height:120px; width: 100px; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color:#e8eeef;" placeholder="Photo" autocomplete="none">

        </div>
      </div>
      <br><br>
      <button type="submit" id="DesUpdate">Update Description</button>
    <br><br><br>   
  
    <hr>
  
  <div class="Functions">
  
          <button type="submit" id="ScheduleInterviewbtn">Schedule Interview</button> 
          <button type="submit" id="MyAdbtn">My Advertisements</button>
          <button type="submit" id="PublishAdbtn">Publish Advertisement</button>
          <button type="submit" id="HireRecruiterbtn"> Hire a Recruiter</button>
          <button type="submit" id="RegisterInterviewerbtn">Register an Interviewer</button>
  
   </div>
   

  <!-- Search Candidate -->
  <div class=" SearchCandidate">
      <input type="text" id="SearchCandidate" name="CandidatePhoto"  style="height:40px; width: 100%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color:#e8eeef;" placeholder="Search Candidate" autocomplete="off">

  </div>
  
  <br>
  <button type="submit" id="SearchCandidatebtn">Search</button>
  <br>

  <br><hr>
  
      
  <div class="ResultTable">
    <table> <tr style="height: auto; width: 90%; "><td>
      
         <p><b>Search Result</b></p>
     
      <table>
          <tr>
            <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Profile Photo</th>
            <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Candidate's Name</th>
            <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Interested Job Position</th>
            <th style="height:40px; width: 40%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Qualifications</th>
          </tr>
        </table>
      
        <br><br>
        <br>
      </td></tr>  </table> 
      <br><br>
   </div>  
  
 
   <br>

 <br><hr>
 
 
     
 <div class="Applications">
  <table> <tr style="height: auto; width: 90%; "><td>
     
        <p><b>Pending Job Applications</b></p>
     

     <table>
         <tr>
           <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Profile Photo</th>
           <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Candidate's Name</th>
           <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Interested Job Position</th>
           <th style="height:40px; width: 40%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Qualifications</th>
         </tr>
       </table>
       <br><br>
      </td></tr>  </table>
      <br>
  </div>  
  
  <br>
<br><hr>

<!-- last section -->
<div class="lastSection">
<div class="lastSection1"> 
  <table> <tr style="height: auto; width: 90%; "><td>     
          <p><b>Recruiter's List</b></p>
      
      <table>
          <tr>
            <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Profile Photo</th>
            <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Candidate's Name</th>
            <th style="height:40px; width: 25%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Rating</th>
            <th style="height:40px; width: 45%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Feedback</th>
          </tr>
        </table>
        <br><br>
      </td></tr>  </table>
      <br><br>
  </div>

  
  <div class="lastSection2">
    <table> <tr style="height: auto; width: 90%; "><td>
          <p><b>Interviewer's List</b></p>

      <table>
          <tr>
            <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Profile Photo</th>
            <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Candidate's Name</th>
            <th style="height:40px; width: 25%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Rating</th>
            <th style="height:40px; width: 45%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Feedback</th>
          </tr>
        </table>
        <br><br>
      </td></tr>  </table> 
      <br><br>     
     </div>
</div>


</body>
</html>