<!DOCTYPE html>
<html>
<head>
    <title>Recruiter Home Page</title>
        <link rel="stylesheet" href="Recruiter_Homepage_Style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="https://kit.fontawesome.com/e33a9afea3.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
          <style>
            table, th, td {
              border: 2px solid black;
            }
            </style>
          
        
</head>
<body>
  <div class="logoBack">
    <div> <img id="logo" src="../material/images/LOGO.png" alt="JoBBooth"> </div>
    <div class="navBar">
        <a href="#contact">CONTACT</a>
        <a href="#news">ABOUT</a>
        <a href="../views/home.php">HOME</a>
    </div>
</div>
  
  <br> 
  <br><br>

  <div class="recruiter">
    <div class="Bio">
        
      <input type="text" id="Bio" name="Bio" style="height:120px; width: 1000px; text-align: center; font-size: 180%; font-family: 'Times New Roman'; font-weight: bold; background-color:#e8eeef;" placeholder="Recruiter's Bio" autocomplete="off">
      </div>

        <div class="Photo">
          <input type="image" id="ProfilePhoto" name="ProfilePhoto" src="../material/Profile_Pic.jpg" style="height:120px; width: 100px; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color:#e8eeef;" placeholder="Photo" autocomplete="none">

        </div>
      </div>
      <br><br>
      <button type="submit" id="BioUpdate">Update Bio</button>
    <br><br><br>   
  
    <hr>
   
  
<!-- first section -->
<div class="firstSection">
  <div class="firstSection1"> 
    <table> <tr style="height: auto; width: 90%; "><td>    
            <p><b>Job Requests</b></p>
        
        <table>
            <tr>
              <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Profile Photo</th>
              <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Organization Name</th>
              <th style="height:40px; width: 15%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Email</th>
              <th style="height:40px; width: 15%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Contact</th>
              <th style="height:40px; width: 30%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Description</th>
            </tr>
          </table>
          <br><br>
          <div class="firstSection1btn">
            <button type="submit" id="Acceptbtn">Accept</button> 
            <button type="submit" id="Declinebtn">Decline</button>
          </div>
          <br>
        </td></tr></table>
    </div>
  
    
    <div class="firstSection2">
        
  
        
          <br>
               
       </div>
       <br><br>

  </div>
  
  <hr>
<!-- mid section -->
<div class="midSection">
  <div class="midSection1"> 
    <table> <tr style="height: auto; width: 90%; "><td>   
            <p><b>Organization List</b></p>
        
        <table>
            <tr>
              <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Profile Photo</th>
              <th style="height:40px; width: 20%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Organization Name</th>
              <th style="height:40px; width: 45%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Description</th>
            </tr>
          </table>
          <br><br><br><br><br><br>
        </td></tr></table> 
    </div>
  
    
    <div class="midSection2">
      <table> <tr><td>    
        <p><b>Job Requests</b></p>
    
      <table>
        <tr>
          <th style="height:40px; width: 30%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Organization Name</th>
          <th style="height:40px; width: 30%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Candidate's Name</th>
          <th style="height:40px; width: 30%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Date & Time</th>
        </tr>
      </table>
      <br><br>
      <div class="midSection2btn">
        <button type="submit" id="Acceptbtn">Accept</button> 
        <button type="submit" id="Declinebtn">Decline</button>
      </div>
      <br>
      </td></tr></table>
    </div>
    <br>
  
  </div>
  <br>
  <hr>
<!-- last section -->

  
  <div class="lastSection"> 
    <table> <tr style="height: auto; width: 90%; "><td>
            <p><b>Pending Interviews</b></p>
        
        <table >
            <tr>
              <th style="height:40px; width: 25%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Profile Photo</th>
              <th style="height:40px; width: 25%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Organization Name</th>
              <th style="height:40px; width: 25%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Candidate's Name</th>
              <th style="height:40px; width: 25%; text-align: center; font-size: larger; font-family: 'Times New Roman'; font-weight: bold; background-color: teal;">Date & Time</th>
            </tr>
            
          </table>
          <br>
          <div class="lastSectionbtn">
          <button type="submit" id="Reschedulebtn">Reschedule</button>
          <button type="submit" id="CancelInterviewbtn">Cancel Interview</button>
          <br>
        </div>
        <br>
        </td></tr>  </table>   
    </div>
    
  

<br><hr>


</body>
</html>